<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- lesson 6 value from properties-file -->
    <context:property-placeholder location="classpath:musicPlayer.properties"/>

    <!-- lesson 2 -->
    <bean id="musicBean1"
          class="ru.alishev.springcourse.ClassicalMusic">
    </bean>

    <bean id="musicBean2"
          class="ru.alishev.springcourse.RockMusic">
    </bean>

    <bean id="musicBean3"
          class="ru.alishev.springcourse.JazzMusic">
    </bean>

    <!-- Урок 5: Внедрение зависимостей через XML. Dependency Injection (DI) -->
    <bean id="musicPlayer"
          class="ru.alishev.springcourse.MusicPlayer">
        <!-- lesson 5 -->
        <!-- property name="music" ref="musicBean"/-->
        <property name="musicList">
            <list>
                <ref bean="musicBean1"/>
                <ref bean="musicBean2"/>
                <ref bean="musicBean3"/>
            </list>
        </property>

        <!-- lesson 6 (static)-->
        <!--property name="name" value="Some name"/-->
        <!--property name="volume" value="50"/-->

        <!-- lesson 6 (property-file)-->
        <property name="name" value="${musicPlayer.name}"/>
        <property name="volume" value="${musicPlayer.volume}"/>

        <!-- constructor-arg ref = "musicBean"/     lesson 5 -->
    </bean>

</beans>